* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header{
  height: 550px;
  background-color: blue;
}

.navbar{
  height: 100px;
  background-color: white;
  /* width: 100%;
  padding-left: 10%;
  padding-right: 10%; */
}

.container{
  height: 300px;
  padding-left: 10%;
  width: 90%;
}

.bottombar{
  height: 150px;
  background-color: red;
  /* width: 100%;
  padding-left: 10%;
  padding-right: 10%; */
}

main{
  height: 1000px;
  background-color: yellow;
  /* width: 100%;
  padding-left: 10%;
  padding-right: 10%; */
}

.row_one:after{
  content: "";
  display: table;
  clear: both;
}

footer{
  height: 200px;
  background-color: grey;
  /* width: 100%;
  padding-left: 10%;
  padding-right: 10%; */
}

/* class utility */

.margini{
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}
