* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  width: 1250px;
  margin: auto;
}

header{
  /* height: 600px; */
  background-color: #001A4F;
}

.navbar{
  height: 100px;
  background-color: #001A4F;
  color: white;
  line-height: 70px;
}

.logo{
  width: 10%;
  line-height: 90px;
}

.menu_sx{
  width: 50%;
  text-align: center;

  }

.menu_sx a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  margin-right: 10px;
  font-family: Roboto;

}

.menu_dx {
  width: 40%;
  text-align: right;
}


.menu_dx a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  margin-right: 10px;
  font-family: Roboto;
}

.tondino{
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 20px;
}

.tondopieno{
  background-color: #64DE82;
  border-radius: 5px;
  padding: 10px 20px;
}


.container{
  height: 350px;
  padding-left: 10%;
  width: 100%;
  color: white;
  position: relative;
  background-image: url(../img/banner_header.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;

}

.titolo{
  width: 40%;
  height: 20%;
  position: absolute;
  top: calc(50%-250px);
  transform: translateY(50%);
}

#pulsantone{
  font-family: Roboto;
  text-decoration: none;
  background-color: #64DE82;
  border-radius: 5px;
  padding: 20px 20px;
  margin-top: 60px;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
}

.titolo h1{
  font-size: 45px;
  margin-bottom: 30px;
  font-weight: 500;
  font-family: roboto;
}

.bottombar{
  /* height: 200px; */
  background-color: lightgrey;
  text-align: center;
  line-height: 55px;
  }

  .bottombar h3{
    font-family: roboto;
    font-size: 20px;
    height: 30px;

    }

  .bottombar span{
    font-family: roboto;
    color: grey;
    font-weight: 400;
  }
  /* fine elemnti header */

main{
  height: 600px;
  background-color: white;
  margin-top: 30px;
}


.row_one{
  width: 100%;
  background-color: white;
}



.loghetto1{
  background-image: url(../img/profile.svg);
  background-size: cover;
  height: 150px;
  width: 150px;
  margin: auto;
}

.loghetto2{
  background-image: url(../img/computer.svg);
  background-size: cover;
  height: 150px;
  width: 250px;
  margin: auto;
}

.loghetto3{
  background-image: url(../img/doc.svg);
  background-size: cover;
  height: 150px;
  width: 150px;
  margin: auto;
  }



#scrittina{
  color: #64DE82;
  text-align: center;
  margin-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: lowercase;
}

.break{
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;

}

.text{
  color: grey;
  text-align: justify;
  font-size: 20px;
  font-family: roboto;
  padding-left: 10px;
  padding-right: 10px;
}


.row_two{
  background-color: yellow;
}

footer{
  height: 200px;
  background-color: grey;

}

/* class utility */


.margini{
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

.fl{
  float: left;
}

.fotouno, .fotodue, .fototre{
  width: 33.3%;
  }

.image_one, .image_two{
  width: 50%;
}

.row_one, .row_two, .navbar:after{
  content: "";
  display: table;
  clear: both;
}
